<div class="internal-content">
  <h1>List of Stores now avaliable:</h1>

  <br>

  <% @stores.each do |store| %>
    <p><strong><%= store.title %></strong></p>
    <p>Address: <%= store.monkey_address %></p>
    <%= link_to 'More Details', store_path(store) %>
    <hr>
  <% end %>

  <%= simple_form_for :store, url: '/stores' do |f| %>
  <%= f.input :address, as: :string %>
  <%= f.button :submit %>
  <% end %>

</div>
